@import "../ui/lib.styl"

.editor-contents
	display flex
	flex-flow row
	align-items stretch
	justify-content stretch
	min-width 600
	padding 0 10 10 0

	.thumb
		align-items center
		justify-content center
		margin-right 20


	.item-thumb
		width var(--icon-width)
		height calc(var(--icon-height) - 22px)
		border-radius 10

		background #f9f9f9 linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3)) center no-repeat
		background-size cover
		display flex
		flex-flow column

		font 400 4em/normal helvetica, arial, sans-serif
		align-items center
		justify-content center
		margin-bottom 10
		padding-top 10
		overflow hidden
		background-color var(--color-background)
		color var(--color-text-dimmed)

	.item-thumb-suffix
		font-size 13px
		font-weight 200
		text-align right
		display block
		width 100%
		padding 0 10
		opacity .7
		overflow hidden
		text-overflow ellipsis


	.thumbnail-label
		overflow hidden
		position relative
		button
			float right

	.details
		flex 1
		display flex
		flex-flow column
		align-items stretch
		justify-content flex-start

	label
		padding 0
		height initial

	input
	textarea
		margin-bottom 15

	textarea
		flex unset


.modal .buttons
	display flex
	flex-direction row-reverse
	align-items center
	justify-content space-between
	border-top 1px solid var(--color-border)
	margin 10 -20 -5
	padding 15 20 0

	.btn.success
		margin-left 10
