@import "lib"


.bookmarks
	.item
		margin auto
		display block
		text-align center
		text-decoration none
		color inherit
		border-radius 10px
		width var(--icon-width)
		height var(--icon-height)
		filter drop-shadow(0 3px 3px #0009)

	.item-title
		display block
		padding 0
		margin-top 10px
		max-height 2.3em
		overflow hidden
		text-overflow ellipsis

	.item-thumb
		width 100%
		height calc(100% - 22px)
		border-radius inherit

		background #f9f9f9 linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3)) center no-repeat
		background-size cover
		display flex
		flex-flow column

		font 400 3em/1 helvetica, arial, sans-serif
		align-items center
		justify-content center
		color var(--color-background-alt)
		overflow hidden

	.item-thumb-suffix
		font-size 13px
		font-weight 200
		text-align right
		display block
		width 100%
		padding 0 10
		opacity .7
		overflow hidden
		text-overflow ellipsis

	.item-favicon
		display none

	.item-folder .item-thumb
		background-color var(--color-text-dimmed)
		-webkit-mask url('assets/folder.svg') center no-repeat
		-webkit-mask-size cover
		mask url('assets/folder.svg') center no-repeat
		mask-size cover

	.item-bookmark .item-thumb
		padding-top .4em


	.separator .item-thumb
		filter none
		background none


	&.no-labels
		.item-bookmark .item-title
			display none

		.item-folder
			display flex
			align-items center
			justify-content center
			position relative
			.item-thumb
				-webkit-mask-image url(assets/folder-outline.svg)
				-webkit-mask-size contain
				mask-image url(assets/folder-outline.svg)
				mask-size contain
				position absolute
				top 0

			.item-title
				font-size 24px
				font-weight 400
				max-width 90%
				max-height 3em
				margin-top 0
				color var(--color-text)
				letter-spacing 2px
				z-index 9

	&:not(.is-sorting)
		.item-thumb.img-drag
			box-shadow 0 0 3px 1px  var(--color-accent)
			background none !important

			.text-fit
			.item-thumb-suffix
				display none
