@import "lib"


.bookmarks
	.item
		margin auto
		display block
		text-align center
		text-decoration none
		color inherit
		border-radius 10px
		width var(--icon-width)
		height var(--icon-height)
		filter drop-shadow(0 3px 3px #0009)

	.item-title
		display block
		padding 0
		margin-top 10px
		max-height 2.3em
		overflow hidden
		text-overflow ellipsis

	.item-thumb
		width 100%
		height calc(100% - 22px)
		border-radius inherit

		background #f9f9f9 linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3)) center no-repeat
		background-size cover
		display flex
		flex-flow column

		font 400 3em/1 helvetica, arial, sans-serif
		align-items center
		justify-content center
		color #555
		overflow hidden

	.item-thumb-suffix
		font-size 13px
		font-weight 200
		text-align right
		display block
		width 100%
		padding 0 10
		opacity .7
		overflow hidden
		text-overflow ellipsis

	.item-favicon
		display none

	.item-folder .item-thumb
		background-color #ccc
		mask url('assets/folder.svg') center no-repeat
		mask-size cover

	.item-bookmark .item-thumb
		padding-top .4em


	.separator .item-thumb
		filter none
		background none


	.item-thumb.img-drag
		box-shadow 0 0 3px 1px dark-color-accent
		background none !important
		.text-fit
		.item-thumb-suffix
			display none


.folder
	.item
		font inherit
		font-size 14px
		color inherit
		text-decoration none
		padding 7 20
		display flex
		align-items center

		&:hover
			text-decoration underline

	.item-title
		flex 1
		white-space nowrap
		text-overflow ellipsis
		overflow hidden
		opacity 0.8

	.item-thumb
		background-repeat no-repeat
		background-position center
		background-size cover
		display none

	.item-favicon
		size 16
		margin-right  10
		overflow hidden
		display inline-block
		border-radius 4px
		background-repeat no-repeat
		background-position center




.sortable-plate
	.item-thumb
		background #333
		filter none

.sortable-ghost
	filter none

	.item-favicon
	.item-thumb
		filter grayscale(1) contrast(0) brightness(0.1)
		opacity 0.3

	.item-favicon
		width 100%
		background #333

	.item-title
		visibility hidden
