
.item
	margin auto
	display block
	text-align center
	text-decoration none
	color inherit
	border-radius 10px
	width var(--icon-width)
	height var(--icon-height)
	filter drop-shadow(0 3px 3px #000)


.item-title
	display block
	margin-top 10px
	padding 0
	overflow hidden
	justify-content center

	max-height 2.3em
	overflow hidden
	text-overflow ellipsis



.item-thumb
	display block
	width 100%
	height calc(100% - 22px)
	background-size cover
	background-repeat no-repeat
	background-position center
	border-radius inherit
	font-family helvetica, arial, sans-serif
	font-size 2em
	font-weight 600
	line-height 1
	text-align center
	display flex
	justify-content center
	align-items center
	word-wrap anywhere



.item-folder
	.item-thumb
		mask url('assets/folder.svg') center no-repeat
		mask-size cover
		background-color #ccc
		opacity 0.8
		color #666
		text-shadow 0 1px 0 #fff
		padding-top .9em

.item-bookmark
	.item-thumb
		background-color #f9f9f9
		background-image linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3))
		overflow hidden
		color #555
		padding-top .25em


.sortable-plate
	background #000

.sortable-ghost
	filter grayscale(1) contrast(0) brightness(0.1)
	opacity 0.2

	.item-title
		display none



@media (max-width 1090px)
	.item
		width 100%
		height 100%

@media (max-width 840px)
	.item-folder .item-thumb
		mask-size auto
