@import "lib"


.sortable-plate
	.item-thumb
		background #333
		filter none

.sortable-ghost
	filter none

	.item-favicon
	.item-thumb
		filter grayscale(1) contrast(0) brightness(0.1)
		opacity 0.3

	.item-favicon
		width 100%
		background #333

	.item-title
		visibility hidden
