@import "lib"


.sortable-plate
	.item-thumb
		background var(--color-background)
		filter none


.sortable-ghost
	filter none

	.item-favicon
	.item-thumb
		background var(--color-background) !important
		filter grayscale(1) contrast(0) brightness(0.1)
		opacity 0.3

	.item-favicon
		width 100%
		background var(--color-background) !important

	.item-title
		visibility hidden
