@import "lib"


header
	height 60
	width 90%
	margin 20 auto 30
	padding 0 10
	font-size 13px
	text-align center
	font-weight normal
	position relative
	display flex
	align-items center
	justify-content center
	max-width var(--grid-max-width, 1000px)

	.title
		opacity .5


.btn-back
	left 10

.btn-back svg
	size 16
	margin 3 0 0 -1


.btn-search
	position absolute
	top 45
	right 7
	z-index 9
	border-radius 25

.btn-search svg
	size 20
	margin 3 0 0 -2
