@import "lib"


header
	height 60px
	margin 20px auto 30px
	padding 0 10px
	font-size 13px
	text-align center
	font-weight normal
	position relative
	display flex
	align-items center
	justify-content center
	width 90%
	max-width var(--grid-max-width, 1000px)

	.title
		opacity .5


.btn-back
	left 10px

.btn-back svg
	height 16px
	width 16px
	margin 3px 0 0 -1px
