@import "lib"

.btn
	font inherit
	display inline-block
	padding 5 15
	min-width 34px
	min-height 34px
	margin-bottom 0
	font 15/1.4
	font-weight 400
	height auto;
	text-align center
	white-space nowrap
	vertical-align middle
	text-decoration none
	cursor default
	border 1px solid transparent
	border-radius 3
	user-select none
	box-shadow 0 1px 0 rgba(#000, .8)
	color var(--color-text)
	background  var(--color-info)
	transition background-color .3s ease-out, border-color .3s ease-out, box-shadow .3s ease-out

	&:focus
		border-color  var(--color-accent)
		box-shadow 0 0 2px 1px  var(--color-accent)
		outline 0

	&:active
		outline 0
		box-shadow none
		transform translateY(1px)
		filter brightness(0.85)

	&.success
		background var(--color-success)

	&.warning
		background  var(--color-warning)

	&.danger
		background  var(--color-danger)




.icon-btn
	position absolute
	height 32px
	width 32px
	border 1px solid transparent
	background none
	text-align center
	cursor pointer
	z-index 10
	color var(--color-text-dimmed)
	transition color .2s
	display inline-block

	&:focus
		border-color  var(--color-accent)
		box-shadow 0 0 2px 1px  var(--color-accent)
		color var(--color-text)
		outline 0

	&:hover
		color var(--color-text)


.flex-spacer
	flex 1
