@import "lib"

.btn
	font inherit
	display inline-block
	padding 5 15
	min-width 34px
	min-height 34px
	margin-bottom 0
	font 15/1.4
	font-weight 400
	height auto;
	text-align center
	white-space nowrap
	vertical-align middle
	text-decoration none
	cursor default
	border transparent
	border-radius 3
	user-select none
	box-shadow 0 1px 0 rgba(#000, .8)
	color dark-color-text3
	transition background-color .3s ease-out, border-color .3s ease-out, box-shadow .3s ease-out

	// &.info
	background color-info

	&:focus
		border-color dark-color-accent
		box-shadow 0 0 2px 1px dark-color-accent
		outline none

	&:active
		outline none
		box-shadow none
		transform translateY(1px)
		background darken(color-info, 15%)
		color alpha(dark-color-text3, 50%)



	&.success
		background darken(color-success, 30%)

		&:active
			background darken(color-success, 15%)


	&.warning
		background color-warning

		&:active
			background darken(color-warning, 15%)


	&.danger
		background color-danger

		&:active
			background darken(color-danger, 15%)




.icon-btn
	position absolute
	height 32px
	width 32px
	border transparent
	background none
	text-align center
	cursor pointer
	z-index 10
	color dark-color-text0
	transition color .2s
	display inline-block

	&:focus
		border-color dark-color-accent
		box-shadow 0 0 2px 1px dark-color-accent
		color dark-color-text2

	&:hover
		color dark-color-text2


.flex-spacer
	flex 1
