@import "lib"

.folders
	position absolute
	bottom 0
	left 0
	right 0
	display flex
	align-items flex-start
	justify-content flex-start
	height 0


.folder
	border 1px solid var(--color-border)
	background var(--color-background)
	border-width 1px 1px 0 1px
	padding 0 0 10
	display flex
	flex-flow column
	margin-left -1
	margin-top -42px
	transition margin var(--animation-speed) ease-out
	overflow hidden

.folder-header
	display flex
	align-items center
	justify-content center
	border-bottom 1px solid var(--color-border)
	margin-bottom 5
	height 40
	min-height 40

.folder-title
	flex 1
	display flex
	align-items center
	justify-content center
	padding 5
	margin 3 20 0 5
	background none
	border none
	font inherit
	font-size 16px
	cursor pointer
	color var(--color-text-dimmed)
	transition color var(--animation-speed) ease-out
	font-weight 600
	letter-spacing 1px
	border-radius 5

	&:focus
		box-shadow 0 0 2px 1px var(--color-accent)


.folder-pin
	size 12
	background none
	border none
	padding 0
	border-radius 25
	margin-left 8
	cursor pointer
	opacity 0
	border 1px solid var(--color-border)
	background-color var(--color-background-alt)
	transition opacity var(--animation-speed) ease-out

	&:focus
		border-color  var(--color-accent)
		box-shadow 0 0 2px 1px  var(--color-accent)

	.folder-expanded &
		opacity 1

	.folder-pinned &
		background-color var(--color-accent)
		filter brightness(.7)


.folder-items
	overflow-y auto
	flex 1
	padding 1 0
	max-height 50vh
	visibility visible
	opacity 1
	transition visibility 0s, opacity calc(var(--animation-speed) * 2)

	&.hidden
		opacity 0
		visibility hidden
		transition visibility 0s calc(var(--animation-speed) * 2), opacity calc(var(--animation-speed) * 2)

	&:empty
		color var(--color-text)
		text-align center
		padding 30 20 20
		display block
		filter opacity(.5)

		&::after
			content 'Folder is empty'
			font-size 14px
			display block
