@import "lib"


.folders
	position absolute
	bottom 0
	left 0
	right 0
	display flex
	align-items flex-start
	justify-content flex-start
	height 0


.folder
	background-color #333
	border #000
	border-width 1px 1px 0 1px
	padding 0 0 10
	display flex
	flex-flow column
	margin-left -1
	margin-top -42px
	transition margin .3s ease-out

.folder-header
	display flex
	align-items center
	justify-content center
	border-bottom #000
	margin-bottom 5
	height 40
	min-height 40

.folder-title
	flex 1
	display flex
	align-items center
	justify-content center
	padding 5 10
	background none
	border none
	font inherit
	font-size 16px
	cursor pointer
	color #888
	transition color .2s
	font-weight 600
	letter-spacing 1px
	margin-left 0
	margin-right 20

	&:focus
		outline 1px solid #ffa500
		box-shadow 0 0 2px 1px #ffa500


.folder-pin
	size 12
	background none
	border none
	padding 0
	border-radius 25
	margin-left 8
	cursor pointer
	opacity 0
	box-shadow 0 0 2px #000
	background linear-gradient(#fff7, #0007)
	background-color #888
	transition opacity .3s ease-out

	.folder-expanded &
		opacity 1

	.folder-pinned &
		background-color dark-color-accent


.folder-items
	overflow-y auto
	flex 1
	padding 1 0
	max-height 50vh
	visibility visible
	opacity 1
	transition visibility 0s, opacity .5s

	&.hidden
		opacity 0
		visibility hidden
		transition visibility 0s .5s, opacity .5s

	&:empty
		color #888
		text-align center
		padding 30 20 20
		display block

		&::after
			content 'Folder is empty'
			font-size 14px
			display block
