@import "lib"

.context-menu
	position absolute
	padding 5 0
	margin 0
	display flex
	flex-flow column
	align-items stretch
	list-style none
	z-index 20
	background var(--color-background-alt)
	color var(--color-text)
	box-shadow 0 1px 5px 1px rgba(#000, 0.5)

	&.hidden
		display none

.context-menu-item
	padding 10 20
	position relative
	overflow hidden
	white-space nowrap

	input[type=file]
		position absolute
		left -500px

	&:hover
		background-color  var(--color-highlight)


.context-menu-separator
	height 0
	margin 5 0
	padding 0
	border-bottom var(--color-border)
