@import "lib"

.toggle
	width 75
	border-radius 4
	background var(--color-background)
	overflow hidden
	user-select none
	-webkit-user-select none
	cursor pointer

	&[disabled]
		pointer-events none
		opacity 0.6

	&:focus
		outline none
		box-shadow 0 0 2px 1px  var(--color-accent)

	.toggle-label
		margin 0
		padding 0
		height auto

.toggle-input
	display none

.toggle-label
	background var(--color-highlight)
	width 24
	display block
	border-radius inherit
	cursor inherit
	transition width .2s

.toggle-handle
	size 24
	background var(--color-text)
	border: 1px solid var(--color-background);
	display block
	border-radius inherit
	margin 0 0 0 auto
