@import "lib"

.toggle
	background transparent
	height 24
	width 71
	cursor ew-resize

	&:focus
		outline none

	&
	&::-moz-range-thumb
		-moz-appearance none
		appearance none
		border-radius 4px


	&::-moz-range-progress
	&::-moz-range-thumb
	&::-moz-range-track
		border-radius 4px


	&::-moz-range-thumb
		height 22
		width 22
		background #fff

	&::-moz-range-progress
		background-color dark-color-highlight
		height 100%

	&::-moz-range-track
		padding 1
		width 100%
		height 100%
		background-color dark-color-bg2
		border dark-color-bg2

	&:focus::-moz-range-thumb
		box-shadow 0 0 2px 1px dark-color-accent
