@import "lib"

.modal-backdrop.search-modal
	align-items flex-start

	.modal
		margin-top 15vh
		max-width 70vw
		min-width 300px
		width 45vw
		min-height 120px


.autocomplete
	flex 1
	display flex
	flex-flow column
	width calc(100% + 40px)
	margin -20px
	max-height 60vh
	min-height 120px
	font-size 14px


	.autocomplete-input[type="text"]
		color inherit
		font inherit
		font-size 16px
		width 100%
		border none
		background none
		box-shadow none
		padding 10 20 8 40
		margin 10 0
		outline none
		height 36

		&:focus
			outline none


.autocomplete-list
	position relative
	width 100%
	height auto
	max-height calc(100% - 56px)
	overflow-y auto
	z-index 99
	padding 10 0
	border-top var(--color-border)
	user-select none

	&:empty
		padding 0


.autocomplete-list-item
	padding 5 20 5 0
	margin 6 0
	cursor pointer
	line-height 1.4
	display flex
	align-items flex-start


	&:hover
	&.selected
		background-color  var(--color-highlight)

	&.hidden
		display none

.autocomplete-list-item-icon
	width 20
	min-width 20
	height 20
	margin 0 10
	mask-repeat no-repeat
	mask-position center


.autocomplete-list-item-text
	display inline-block
	padding-top 2

	b
		color  var(--color-accent)


.autocomplete-list-item-folder
	.autocomplete-list-item-icon
		background-color var(--color-text)
		mask-image url('assets/folder.svg')

	.autocomplete-list-item-text
		text-transform uppercase


.autocomplete-list-item-bookmark
	.autocomplete-list-item-icon
		border-radius 10
		box-shadow 0 0 1px 1px var(--color-text)
		background-repeat no-repeat
		background-position center
