@import "lib"


.autocomplete
	flex 1
	display flex
	flex-wrap wrap
	min-width 200px
	max-width 60%
	position fixed
	left 30%
	right 30%
	top 15%
	border-radius 4px
	z-index 999
	font-size 14px
	background dark-color-bg3
	color dark-color-text3
	box-shadow dark-shadow
	opacity 0
	transform scale(0.9)
	display none
	transition opacity anim-speed, transform anim-speed

	&.visible
		opacity 1
		transform scale(1)


.autocomplete .autocomplete-input[type="text"]
	color inherit
	font inherit
	font-size 16px
	width 100%
	border none
	background none
	box-shadow none
	padding 10 20 8 40
	margin 10 0
	outline none

	&:focus
		outline none


.autocomplete-list
	position relative
	width 100%
	overflow-y auto
	z-index 99
	padding 10 0
	border-top dark-color-bg1
	max-height calc(20 * (1em + 10px) + 15px)
	user-select none

	&:empty
		padding 0


.autocomplete-list-item
	padding 5 20 5 0
	margin 6 0
	cursor pointer
	line-height 1.4
	display flex
	align-items flex-start


	&:hover,
	&.selected
		background-color dark-color-highlight

	&.hidden
		display none

.autocomplete-list-item-icon
	width 20
	min-width 20
	height 20
	margin 0 10
	mask-repeat no-repeat
	mask-position center


.autocomplete-list-item-text
	display inline-block
	padding-top 2

	b
		color dark-color-accent


.autocomplete-list-item-folder
	.autocomplete-list-item-icon
		background-color dark-color-text3
		mask-image url('assets/folder.svg')

	.autocomplete-list-item-text
		text-transform uppercase


.autocomplete-list-item-bookmark
	.autocomplete-list-item-icon
		border-radius 10
		box-shadow 0 0 1px 1px dark-color-text3
		background-repeat no-repeat
		background-position center
