@import "lib"

:root
	--color-highlight #14789f
	--color-accent orange
	--color-info #666d7b
	--color-success #408062
	--color-danger #8b4848
	color-scheme dark light

	--color-border #000
	--color-background #333
	--color-background-alt #444
	--color-text #fff
	--color-text-dimmed #ccc
	--color-warning #af8a1a

@media (prefers-color-scheme: dark)
	:root
		--color-border #000
		--color-background #333
		--color-background-alt #444
		--color-text #fff
		--color-text-dimmed #ccc
		--color-warning #af8a1a

@media (prefers-color-scheme: light)
	:root
		--color-border #aaa
		--color-background #eee
		--color-background-alt #ccc
		--color-text #111
		--color-text-dimmed #444
		--color-warning #764c00


html, body
	margin 0
	padding 0
	height 100%
	width 100%
	overflow hidden

body
	font 13px sans-serif
	background var(--color-background)
	color var(--color-text)
	-moz-user-select none
	user-select none
	box-sizing border-box
	padding-bottom 20px
	overflow-x hidden
	overflow-y auto

body *
	box-sizing inherit


h1, h2, h3, h4, h5, h6
	margin 0
	b 0

h1
	flex 1
	margin 0
	font-size 20px
	font-weight 600
	line-height 1

h2
	flex 1
	margin 0
	font-size 17px
	font-weight 400
	line-height 1
	text-align center


.ext-url
	width 100%
	margin-top 20
	font-size 14px !important

p
	line-height 1.4
	&.success
		color var(--color-success)

	&.warning
		color  var(--color-warning)

	&.danger
		color  var(--color-danger)
