@import "lib"


html, body
	margin 0
	padding 0
	height 100%
	width 100%
	overflow hidden

body
	font 12px sans-serif
	background var(--bg)
	color var(--color)
	-moz-user-select none
	user-select none
	box-sizing border-box
	padding-bottom 20px
	overflow-x hidden
	overflow-y auto

body *
	box-sizing inherit


h1, h2, h3, h4, h5, h6
	margin 0
	b 0

h1
	flex 1
	margin 0
	font-size 20px
	font-weight 600
	line-height 1
	opacity 0.2


.icon-btn
	position absolute
	height 32px
	width 32px
	border none
	background none
	text-align center
	cursor pointer
	z-index 10
	color #888
	transition color .2s
	display inline-block


.icon-btn:hover
	color #eee


.flex-spacer
	flex 1
