.bookmarks
	width 100%
	max-width var(--grid-width)
	margin 20px auto
	padding 0 var(--icon-size) 60px
	display grid
	grid-gap var(--grid-gap)
	grid-auto-rows minmax(var(--icon-size), auto)
	grid-template-columns repeat(auto-fill, minmax(var(--icon-size), 1fr))
	transition opacity .1s


	&.folder-switching
		opacity 0


@media (max-width 915px)
	.bookmarks
		padding-left 10px
		padding-right 10px

@media (max-width 665px)
	.bookmarks
		grid-gap 54px 37px
