html, body
	margin 0
	padding 0
	height 100%
	width 100%
	overflow hidden

:root
	--icon-size 74px
	--color #fff
	--bg #333
	--grid-width 968px
	--grid-gap 5px






body
	font 12px sans-serif
	background var(--bg)
	color var(--color)
	-moz-user-select none
	user-select none
	box-sizing border-box
	padding-bottom 20px
	overflow-y auto

body *
	box-sizing inherit

header
	width 100%
	max-width calc(var(--grid-width) - var(--icon-size) - var(--icon-size) + 20px)
	margin 20px auto
	font-size 13px
	text-align center
	font-weight 0
	position relative
	display flex
	align-items center
	justify-items center


header .title
	flex 1
	padding 0
	margin 0
	font-size 20px
	font-weight 400
	line-height 2.3em
	opacity 0.3


.btn
	position absolute
	height 32px
	width 32px
	border none
	background none
	text-align center
	cursor pointer
	z-index 10
	color #888
	transition color .2s
	display inline-block

.btn:hover
	color #eee



.bookmarks
	width 100%
	max-width var(--grid-width)
	margin 20px auto
	padding 0 var(--icon-size) 60px
	display grid
	grid-gap var(--grid-gap)
	grid-auto-rows minmax(var(--icon-size), auto)
	grid-template-columns repeat(auto-fill, minmax(var(--icon-size), 1fr))




@media (max-width 915px)
	.bookmarks
		padding-left 10px
		padding-right 10px

@media (max-width 665px)
	.bookmarks
		grid-gap 54px 37px
