@import "lib"

anim-speed = 0.15s

.modal-backdrop
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	display none
	align-items center
	justify-content center
	z-index 99
	background-color rgba(#000, 0)
	transition background-color anim-speed

	&.visible
		background-color rgba(#000, .6)

.modal
	background var(--color-background-alt)
	color var(--color-text)
	border-radius 3px
	margin-top -60
	opacity 0
	transform scale(0.8)
	transition opacity anim-speed, transform anim-speed
	box-shadow 0 2px 10px 2px #000a

	.visible &
		opacity 1
		transform scale(1)

	h1
		font-size 18px
		border-bottom 1px solid var(--color-border)
		padding 20 20 18
		margin 0

		&:empty
			display none
	p
		font 18
		margin 10 0 30

.modal-content
	padding 20
	position relative
