@import "lib"


.toaster
	position fixed
	width 400
	left 50%
	transform translateX(-50%)
	padding-top 5
	display flex
	flex-flow column
	align-items stretch
	user-select none
	z-index 90

.toaster-top
	top 0
.toaster-bottom
	bottom 0

.toast
	position relative
	overflow hidden
	flex 1
	margin-top 5
	margin-bottom 5
	text-align center
	box-shadow 0 10px 20px 2px #0003
	z-index 10
	font-size 15px
	display flex
	align-items center
	justify-content space-between
	min-height 30
	border-radius 25

	button
		font inherit
		background none
		border none
		height 30px
		min-width 38px
		padding 0 10px
		display flex
		align-items center
		justify-content center
		transition background-color var(--animation-speed) ease-out
		color var(--color-text)

		&:hover
			color var(--color-text)
			background #3338
		&:active
			color var(--color-text-dimmed)
			background #0008

	.toast-msg
		color var(--color-text)
		flex 1

	.toast-close
		font-size 22px
		font-weight 200
		border-radius 0 25px 25px 0
		position relative


.toast
.toast-info
	background  var(--color-info)

.toast-warning
	background  var(--color-warning)

.toast-error
	background  var(--color-danger)

.toast-progressbar
	position absolute
	bottom 1
	left 1
	right 1
	top 1
	border-radius 25
	overflow hidden
	z-index -1

.toast-progress
	height 100%
	background-color #3338
	width 0
	transition width var(--animation-speed) ease-out
