@import "lib"

.toaster
	position fixed
	top 0
	width 400
	left 50%
	transform translateX(-50%)
	padding-top 5
	display flex
	flex-flow column
	align-items stretch
	user-select none
	z-index 90

.toast
	position relative
	overflow hidden
	flex 1
	margin-top 5
	margin-bottom 5
	padding 15 20
	text-align center
	box-shadow 0 10px 20px 2px #0003
	z-index 10
	font-size 15px
	display flex
	align-items center
	justify-content space-between
	border-radius 5

.toast-close
	font-size 22px
	font-weight 200
	color dark-color-text2
	&:hover
		color dark-color-text3
	&:active
		color dark-color-text1


.toast
.toast-info
	background color-info

.toast-warning
	background color-warning

.toast-error
	background color-danger




.toast-msg
	color dark-color-text2
	flex 1
	a
		color inherit
		font-weight 600

		&:hover
			color dark-color-text3
			text-decoration none

	button
		border dark-color-text1
		color dark-color-text1
		background none
		border-radius 5
		padding 4 10
		font-size 14px
		transition background-color .2s, color .2s
		margin-left 15

		&:hover
			background dark-color-text1
			color dark-color-bg2

		&:active
			background dark-color-text0
			color dark-color-text1


.toast-progressbar
	position absolute
	bottom 1
	left 0
	right 0
	height 3
	border-radius 5

.toast-progress
	height 100%
	border-radius 5
	background-color dark-color-text2
	width 0
	transition width .2s
