@import "lib"

.settings-pane

	h1
		margin 0
		padding 13 0 12 20
		top 0
		position sticky
		background-color var(--color-background-alt)
		z-index 1
		border-bottom 1px solid var(--color-background)

	label
		display block
		margin 0 5 0 0

	.select-wrap
		flex 1


	input + input
		margin 0 0 0 10

	input:not(.toggle)
		width 75

	.btn
		flex 1
		display flex
		align-items center
		justify-content center

	.xbtn
		padding 0 5
		flex unset
		width 38
		margin-left 10
		align-items flex-start
		font-size 23px
		min-height 33px

	.btn-export
		margin-right 10

	div.btn
		position relative
		overflow hidden

	small
		display block
		flex 1
		min-width 100%
		margin-bottom 15

		a
			color  var(--color-accent)
			text-decoration none

			&:hover
				text-decoration underline
