@import "lib"

.icon-btn.btn-settings
	right 3
	top 6
	z-index 11
	transition transform .2s, color .2s
	transform-origin center
	border-radius 20

	&.hidden
		transform rotate(-90deg)

	svg
		height 20
		width 20
		margin 3 0 0 -3




.settings-pane
	position absolute
	background-color var(--color-background-alt)
	top 0
	right 0
	bottom 0
	width 300
	min-height 300
	box-shadow -2px 0 5px #0008
	transition transform .3s, opacity .3s
	z-index 10
	overflow-y auto
	color var(--color-text)

	&.hidden
		transform translateX(310px)

	h1
		margin 20 20 0

	h2
		padding 10 20
		margin 25 -20 15
		text-align left
		background var(--color-info)
		border-top 1px solid var(--color-background)
		border-bottom 1px solid var(--color-background)
		color var(--color-text)
		filter saturate(.5)

	label
		display block
		margin 0 0 5

	.select-wrap
		flex 1


	input + input
		margin 0 0 0 10

	.btn
		flex 1
		display flex
		align-items center
		justify-content center

	.btn-half
		flex 0.5

	.xbtn
		padding 0 5
		flex unset
		width 38
		margin-left 10
		align-items flex-start
		font-size 23px
		min-height 33px


	div.btn
		position relative
		overflow hidden

	small
		display block
		flex 1
		min-width 100%
		margin-bottom 15

		a
			color  var(--color-accent)
			text-decoration none

			&:hover
				text-decoration underline



.settings-form
	display flex
	flex-flow column
	align-items stretch
	margin 0 20
	font inherit
	font-size 15px


.settings-row
	display flex
	flex-flow row
	align-items flex-start
	justify-content space-between
	margin-bottom 20
	flex-wrap wrap

	label
		margin 0 5 0 0
	input:not(.toggle)
		width 75


.btn-export
	margin-right 10
