@import "lib"

.btn-settings
	right 3
	top 6
	z-index 11
	transition transform .2s
	transform-origin 17px 16px

	&.open
		transform rotate(90deg)

.btn-settings svg
	height 20
	width 20
	margin 3 0 0 -1




.settings-pane
	position absolute
	background-color #444
	top 0
	right 0
	bottom 0
	width 300
	min-height 300
	box-shadow -2px 0 5px #0008
	transition transform .1s, opacity .1s
	z-index 10
	overflow-y auto

	&.hidden
		transform translateX(300px)

	h1
		margin 20


	label
		display block
		margin 0 0 5

	input
	textarea
	select
		padding 10 5
		margin 0
		font inherit
		border none
		min-width 0
		width 100%
		background-color #222
		color #eee

	select
		text-indent -2px

	textarea
		min-height 2.4em
		resize vertical
		flex unset

	input
		&[type="color"]
			-moz-appearance none
			background none
			border none
			height 35
			padding 0

		&[type=radio],
		&[type=checkbox]
			width auto
			margin-bottom 3
			margin-right 5
			transform scale(1.3)

	input + input
		margin 0 0 0 10


	.btn
		font-size 16px
		padding 2 30 0
		height 38px
		border-radius 5px
		transition background .2s
		border 1px solid #333
		background #eee
		flex 1
		text-decoration none
		text-align center
		display flex
		align-items center
		justify-content center
		line-height 1
		color var(--bg)

		&:focus
		&:hover
			background #c1c1c1

		&:active
			color inherit
			background #424242

		&.btn-half
			flex 0.5

	button.btn
		padding-bottom 1

	div.btn
		position relative
		overflow hidden

	.btn-clear
		border-color #A01
		color #A01

	.btn-clear:focus,
	.btn-clear:hover
		background #e0cccf

	.btn-clear:active
		background #432429

	hr
		margin 10 0 20
		height 0
		width 100%

	small
		flex 1
		min-width 100%
		margin-top 15
		opacity 0.7

	input[type=file]
		position absolute
		right -250px



.settings-form
	display flex
	flex-flow column
	align-items stretch
	padding 10 0
	margin 0 20
	font inherit
	font-size 15px

	&.hidden
		display none


.settings-row
	display flex
	flex-flow row
	align-items center
	justify-content space-between
	margin-bottom 20
	flex-wrap wrap

	label
		margin 0 5 0 0
	input
		width 75


.buttons-row
	margin-top 10


.btn-export
	margin-right 10
