html, body { margin: 0; padding: 0; height: 100%; }
body {
	box-sizing: border-box;
	font: 16px sans-serif;
	background: #eee;
	color: #444;
	display: flex;
}
body * { box-sizing: inherit; }

.col { display: block; margin: 0 auto; }

.preset-list { margin: 0; padding: 0 0 0 10px; }
.preset-list li { margin: 30px 0 0 5px; }

.row {
	display: flex;
	clear: both;
	margin-bottom: 20px;
	width: 430px;
	align-items: center;
	position: relative;
	flex-wrap: wrap;
}

.row>label { width: 140px; white-space: nowrap; }
.row input,
.row textarea {
	flex: 1;
	padding: 5px 10px;
	margin: 0;
	font: inherit;
}
.row textarea { min-height: 2.4em; }

.row select {
	flex: 1;
	padding: 5px 10px;
	margin: 0;
	font: inherit;
}

.row input[type=radio],
.row input[type=checkbox] {
	width: auto;
	flex: unset;
	margin-bottom: 3px;
	margin-right: 5px;
	transform: scale(1.3);
}

.row small { width: 100%; margin-left: 140px; }
.row a { color: inherit; }

.range-tooltip {
	position: absolute;
	top: -4px;
	right: -60px;
	width: 50px;
	height: 24px;
	background: #888;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0 0;
}

small { opacity: 0.7; display: block; margin: 10px 0;  }



.buttons { margin-top: 50px; justify-content: space-between; }

button {
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 5px;
	transition: background .2s;
	border: 1px solid #333;
	background: #eee;
	min-width: 200px;
}
button:focus,
button:hover { background: #c1c1c1; }
button:active { background: #424242; }

.btn-submit { font-weight: bold; border-color: darkgreen; color: darkgreen; }
.btn-submit:focus,
.btn-submit:hover { background: #b7d1b7; }
.btn-submit:active { background: #2f522f; color: #b7d1b7; }

.btn-clear { border-color: #A01; color: #A01; margin: 50px 0 0; }
.btn-clear:focus,
.btn-clear:hover { background: #e0cccf;  }
.btn-clear:active { background: #432429;  }
