@import "lib"


.settings-block
	margin 0 0 -1
	overflow hidden

	.settings-block-header
		padding 10 10 10 20
		height 45
		text-align left
		background var(--color-info)
		border-top 1px solid var(--color-border)
		border-bottom 1px solid var(--color-border)
		color var(--color-text)
		filter saturate(.5)
		display flex
		align-items center
		justify-content space-between
		cursor pointer

		&:focus
			color var(--color-accent)

	.chevron
		height 24
		rotate 180deg
		transition rotate var(--animation-speed) ease-out

	&.collapsed .chevron
		rotate 0deg


	.settings-block-content
		padding 15 20 10


	h3
		padding 10 20
		margin 15 -20
		height 40
		text-align left
		background var(--color-background)
		border-top 1px solid var(--color-border)
		border-bottom 1px solid var(--color-border)
		color var(--color-text)
		display flex
		align-items center
		justify-content space-between

	ul
		padding 0 0 0 10

		li
			margin 0 0 5 0

	.horizontal-lbl label
		padding-top 6
