@import "lib"

.icon-btn.btn-settings
	right 4
	top 6
	z-index 12
	transition transform .2s, color .2s
	transform-origin center
	border-radius 20

	&.hidden
		transform rotate(-90deg)

	svg
		height 20
		width 20
		margin 2 0 0 -3



.settings-pane
	position absolute
	background-color var(--color-background-alt)
	top 0
	right 0
	bottom 0
	width 300
	min-height 300
	box-shadow -2px 0 5px #0008
	transition transform .3s, opacity .3s
	z-index 11
	overflow-y auto
	color var(--color-text)

	h1
		margin 0
		padding 13 0 12 20
		top 0
		position sticky
		background-color var(--color-background-alt)
		z-index 1
		border-bottom 1px solid var(--color-background)


.settings-form
	display flex
	flex-flow column
	align-items stretch
	margin 0
	font inherit
	font-size 15px


.settings-row
	display flex
	flex-flow row
	align-items flex-start
	justify-content space-between
	margin-bottom 20
	flex-wrap wrap
